--
-- PostgreSQL database dump
--

-- Dumped from database version 15.13 (Debian 15.13-1.pgdg120+1)
-- Dumped by pg_dump version 15.13 (Debian 15.13-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: follows; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.follows (
    follower_id bigint NOT NULL,
    following_id bigint NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT no_self_follow CHECK ((follower_id <> following_id))
);


ALTER TABLE public.follows OWNER TO admin;

--
-- Name: tags; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.tags (
    id bigint NOT NULL,
    name character varying(50) NOT NULL
);


ALTER TABLE public.tags OWNER TO admin;

--
-- Name: tags_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.tags_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tags_id_seq OWNER TO admin;

--
-- Name: tags_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.tags_id_seq OWNED BY public.tags.id;


--
-- Name: tweet_bookmarks; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.tweet_bookmarks (
    user_id bigint NOT NULL,
    tweet_id bigint NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.tweet_bookmarks OWNER TO admin;

--
-- Name: tweet_likes; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.tweet_likes (
    tweet_id bigint NOT NULL,
    user_id bigint NOT NULL,
    is_like boolean NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.tweet_likes OWNER TO admin;

--
-- Name: tweet_media; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.tweet_media (
    tweet_id bigint NOT NULL,
    upload_id bigint NOT NULL
);


ALTER TABLE public.tweet_media OWNER TO admin;

--
-- Name: tweet_replies; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.tweet_replies (
    id bigint NOT NULL,
    tweet_id bigint NOT NULL,
    user_id bigint NOT NULL,
    content text NOT NULL,
    parent_reply_id bigint,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT tweet_replies_content_check CHECK (((char_length(content) >= 1) AND (char_length(content) <= 280)))
);


ALTER TABLE public.tweet_replies OWNER TO admin;

--
-- Name: tweet_replies_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.tweet_replies_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tweet_replies_id_seq OWNER TO admin;

--
-- Name: tweet_replies_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.tweet_replies_id_seq OWNED BY public.tweet_replies.id;


--
-- Name: tweet_tags; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.tweet_tags (
    tweet_id bigint NOT NULL,
    tag_id bigint NOT NULL
);


ALTER TABLE public.tweet_tags OWNER TO admin;

--
-- Name: tweets; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.tweets (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    content text NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    like_count bigint DEFAULT 0 NOT NULL,
    dislike_count bigint DEFAULT 0 NOT NULL,
    reply_count integer DEFAULT 0 NOT NULL,
    bookmark_count integer DEFAULT 0 NOT NULL,
    upload_id bigint,
    image_url text
);


ALTER TABLE public.tweets OWNER TO admin;

--
-- Name: tweets_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.tweets_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tweets_id_seq OWNER TO admin;

--
-- Name: tweets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.tweets_id_seq OWNED BY public.tweets.id;


--
-- Name: uploads; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.uploads (
    id bigint NOT NULL,
    user_id bigint,
    file_name text NOT NULL,
    hash character varying(64) NOT NULL,
    mime_type character varying(50) NOT NULL,
    size bigint NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.uploads OWNER TO admin;

--
-- Name: uploads_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.uploads_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.uploads_id_seq OWNER TO admin;

--
-- Name: uploads_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.uploads_id_seq OWNED BY public.uploads.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    username character varying(50) NOT NULL,
    email character varying(255) NOT NULL,
    password_hash text NOT NULL,
    bio text,
    avatar_url text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    follower_count bigint DEFAULT 0 NOT NULL,
    following_count bigint DEFAULT 0 NOT NULL,
    avatar_file_id bigint,
    avatar_upload_id bigint
);


ALTER TABLE public.users OWNER TO admin;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO admin;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: tags id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tags ALTER COLUMN id SET DEFAULT nextval('public.tags_id_seq'::regclass);


--
-- Name: tweet_replies id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tweet_replies ALTER COLUMN id SET DEFAULT nextval('public.tweet_replies_id_seq'::regclass);


--
-- Name: tweets id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tweets ALTER COLUMN id SET DEFAULT nextval('public.tweets_id_seq'::regclass);


--
-- Name: uploads id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.uploads ALTER COLUMN id SET DEFAULT nextval('public.uploads_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: follows follows_pk; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.follows
    ADD CONSTRAINT follows_pk PRIMARY KEY (follower_id, following_id);


--
-- Name: tags tags_name_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tags
    ADD CONSTRAINT tags_name_key UNIQUE (name);


--
-- Name: tags tags_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tags
    ADD CONSTRAINT tags_pkey PRIMARY KEY (id);


--
-- Name: tweet_bookmarks tweet_bookmarks_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tweet_bookmarks
    ADD CONSTRAINT tweet_bookmarks_pkey PRIMARY KEY (user_id, tweet_id);


--
-- Name: tweet_likes tweet_likes_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tweet_likes
    ADD CONSTRAINT tweet_likes_pkey PRIMARY KEY (tweet_id, user_id);


--
-- Name: tweet_media tweet_media_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tweet_media
    ADD CONSTRAINT tweet_media_pkey PRIMARY KEY (tweet_id, upload_id);


--
-- Name: tweet_replies tweet_replies_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tweet_replies
    ADD CONSTRAINT tweet_replies_pkey PRIMARY KEY (id);


--
-- Name: tweet_tags tweet_tags_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tweet_tags
    ADD CONSTRAINT tweet_tags_pkey PRIMARY KEY (tweet_id, tag_id);


--
-- Name: tweets tweets_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tweets
    ADD CONSTRAINT tweets_pkey PRIMARY KEY (id);


--
-- Name: users unique_email; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT unique_email UNIQUE (email);


--
-- Name: users unique_username; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT unique_username UNIQUE (username);


--
-- Name: uploads uploads_hash_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.uploads
    ADD CONSTRAINT uploads_hash_key UNIQUE (hash);


--
-- Name: uploads uploads_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.uploads
    ADD CONSTRAINT uploads_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: idx_follows_follower; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_follows_follower ON public.follows USING btree (follower_id);


--
-- Name: idx_follows_follower_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_follows_follower_id ON public.follows USING btree (follower_id);


--
-- Name: idx_follows_following; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_follows_following ON public.follows USING btree (following_id);


--
-- Name: idx_follows_following_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_follows_following_id ON public.follows USING btree (following_id);


--
-- Name: idx_likes_tweet_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_likes_tweet_id ON public.tweet_likes USING btree (tweet_id);


--
-- Name: idx_tags_name; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_tags_name ON public.tags USING btree (name);


--
-- Name: idx_tweet_bookmarks_user_time; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_tweet_bookmarks_user_time ON public.tweet_bookmarks USING btree (user_id, created_at DESC, tweet_id DESC);


--
-- Name: idx_tweet_replies_parent; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_tweet_replies_parent ON public.tweet_replies USING btree (parent_reply_id);


--
-- Name: idx_tweet_replies_tweetid_id_desc; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_tweet_replies_tweetid_id_desc ON public.tweet_replies USING btree (tweet_id, id DESC);


--
-- Name: idx_tweets_dislike_count; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_tweets_dislike_count ON public.tweets USING btree (dislike_count DESC);


--
-- Name: idx_tweets_like_count; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_tweets_like_count ON public.tweets USING btree (like_count DESC);


--
-- Name: idx_tweets_user_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_tweets_user_id ON public.tweets USING btree (user_id);


--
-- Name: idx_tweets_user_id_created_at; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_tweets_user_id_created_at ON public.tweets USING btree (user_id, created_at DESC, id DESC);


--
-- Name: idx_uploads_created_at; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_uploads_created_at ON public.uploads USING btree (created_at DESC);


--
-- Name: idx_uploads_hash; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX idx_uploads_hash ON public.uploads USING btree (hash);


--
-- Name: idx_uploads_user_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_uploads_user_id ON public.uploads USING btree (user_id);


--
-- Name: idx_users_username_lower; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_users_username_lower ON public.users USING btree (lower((username)::text) text_pattern_ops);


--
-- Name: follows follows_follower_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.follows
    ADD CONSTRAINT follows_follower_id_fkey FOREIGN KEY (follower_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: follows follows_following_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.follows
    ADD CONSTRAINT follows_following_id_fkey FOREIGN KEY (following_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: tweet_bookmarks tweet_bookmarks_tweet_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tweet_bookmarks
    ADD CONSTRAINT tweet_bookmarks_tweet_id_fkey FOREIGN KEY (tweet_id) REFERENCES public.tweets(id) ON DELETE CASCADE;


--
-- Name: tweet_bookmarks tweet_bookmarks_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tweet_bookmarks
    ADD CONSTRAINT tweet_bookmarks_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: tweet_likes tweet_likes_tweet_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tweet_likes
    ADD CONSTRAINT tweet_likes_tweet_id_fkey FOREIGN KEY (tweet_id) REFERENCES public.tweets(id) ON DELETE CASCADE;


--
-- Name: tweet_likes tweet_likes_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tweet_likes
    ADD CONSTRAINT tweet_likes_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: tweet_media tweet_media_tweet_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tweet_media
    ADD CONSTRAINT tweet_media_tweet_id_fkey FOREIGN KEY (tweet_id) REFERENCES public.tweets(id) ON DELETE CASCADE;


--
-- Name: tweet_media tweet_media_upload_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tweet_media
    ADD CONSTRAINT tweet_media_upload_id_fkey FOREIGN KEY (upload_id) REFERENCES public.uploads(id) ON DELETE CASCADE;


--
-- Name: tweet_replies tweet_replies_parent_reply_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tweet_replies
    ADD CONSTRAINT tweet_replies_parent_reply_id_fkey FOREIGN KEY (parent_reply_id) REFERENCES public.tweet_replies(id) ON DELETE CASCADE;


--
-- Name: tweet_replies tweet_replies_tweet_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tweet_replies
    ADD CONSTRAINT tweet_replies_tweet_id_fkey FOREIGN KEY (tweet_id) REFERENCES public.tweets(id) ON DELETE CASCADE;


--
-- Name: tweet_replies tweet_replies_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tweet_replies
    ADD CONSTRAINT tweet_replies_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: tweet_tags tweet_tags_tag_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tweet_tags
    ADD CONSTRAINT tweet_tags_tag_id_fkey FOREIGN KEY (tag_id) REFERENCES public.tags(id) ON DELETE CASCADE;


--
-- Name: tweet_tags tweet_tags_tweet_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tweet_tags
    ADD CONSTRAINT tweet_tags_tweet_id_fkey FOREIGN KEY (tweet_id) REFERENCES public.tweets(id) ON DELETE CASCADE;


--
-- Name: tweets tweets_upload_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tweets
    ADD CONSTRAINT tweets_upload_id_fkey FOREIGN KEY (upload_id) REFERENCES public.uploads(id) ON DELETE SET NULL;


--
-- Name: tweets tweets_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tweets
    ADD CONSTRAINT tweets_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: uploads uploads_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.uploads
    ADD CONSTRAINT uploads_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: users users_avatar_upload_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_avatar_upload_id_fkey FOREIGN KEY (avatar_upload_id) REFERENCES public.uploads(id);


--
-- PostgreSQL database dump complete
--

